@use "../../../styles/variables" as vars;

.exploreMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

.exploreMenuList {
  border-top: 1px solid #d9d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
  overflow-x: scroll;
  height: 130px;
  margin-top: 30px;

  @media screen and (max-width: 480px) {
    border-top: none;
    margin-top: 0;
    height: 80px;
    gap: 5px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.exploreMenuListItem {
  img {
    width: 150px;
    height: 75px;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    img {
      width: 120px;
      height: 60px;
    }
  }
}
