@import "@/src/styles/variables";

.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: $spacing-5xl;
  margin-top: 100px;
  padding: $spacing-xl;
  border: 1px solid $color-border;
  border-radius: $radius-xl;
  background-color: $color-bg-tertiary;
  color: $color-text-tertiary;
  font-size: $font-size-14;
}

.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);

  p {
    font-size: $font-size-20;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-5xl;
  }

  title {
    font-size: $font-size-20;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-5xl;
  }

  input {
    display: flex;
    width: 100%;
    padding: $spacing-md;
    gap: $spacing-md;
    border-radius: $radius-md;
    margin-bottom: $spacing-lg;
    outline-color: $color-primary;
    border: 1px solid $color-border;
    
    &:focus {
      outline: none;
      border-color: $color-primary;
      box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
    }
  }

  .multi-fields {
    display: flex;
    gap: $spacing-md;
  }
}

.place-order-right {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  width: 100%;
  max-width: max(30%, 500px);
}

@include tablet {
  .place-order {
    flex-direction: column;
    gap: $spacing-3xl;
    margin-top: $spacing-5xl;
  }

  .place-order-left,
  .place-order-right {
    max-width: 100%;
  }
}
