@use "../../../styles/variables" as vars;

.detailPanel {
  padding: 1rem 1rem;
  @media screen and (max-width: 768px) {
    box-shadow: none;
    padding: 0px;
  }
}

.detailPanel h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: vars.$primary-dark;
}

.richText {
  color: vars.$color-text-secondary;
  line-height: 1.7;
}
