
@use '../../../../styles/variables' as *;

.shipping-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 16px;
    border-radius: 12px;
    font-family: 'Segoe UI', Arial, sans-serif;
    h1 {
        text-align: center;
        margin-bottom: 32px;
        font-size: $font-size-lg;
        color: $primary;
    }
    h2 {
        margin-top: 12px;
        font-size: $font-size-md;
        margin-bottom: 10px;
        color: $primary-dark;
    }
    ul {
        margin-top: 8px;
        li {
            margin-bottom: 8px;
            font-size: $font-size-md;
            list-style-type: none;
            color: $text-main;
        }
    }
    p {
        font-size: $font-size-md;
        color: $text-main;
        line-height: 1.6;
    }
}
